title Hack The Impact COVID-19
= csrf_meta_tags
= csp_meta_tag
meta content="width=device-width, user-scalable=no" name="viewport" /
= render 'layouts/social_metatags'
= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
